@import 'src/styles/color.scss';
@import 'src/styles/theme.scss';

.pokemon {
  &-card {
    align-items: center;
    background-color: $page-content-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: spacing(2);
    position: relative;

    &.pressable:hover {
      background-color: darken($page-content-background, 5%);
      cursor: pointer;
    }
  }

  &-image {
    width: 128px;
    margin-bottom: spacing();
  }

  &-name {
    font-size: font-size(subtitle);
    line-height: 1;
  }

  &-favorite-buttom {
    cursor: pointer;
    font-size: font-size(subtitle);
    position: absolute;
    right: spacing(2);
    top: spacing(2);

    .fas {
      color: $yellow;
    }
  }
}
