@import 'src/styles/theme.scss';

.image-loading {
  &-hidden {
    display: none !important;
  }
  &-spinner {
    animation: 2s rotate linear infinite;

    &:before {
      font-size: font-size(pagetitle);
    }
  }
}

#image-loading-spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
