$black: #000;
$green: #008000;
$grey: #999;
$grey-dark: #333;
$red: #f00;
$white: #fff;
$yellow: #fed500;

$css-reset-grey: $grey;
$css-reset-grey-dark: $grey-dark;

$page-content-background: $white;
$layout-divider-color: rgba($black, 0.1);

