@import 'src/styles/theme.scss';

.app {
  &-container {
    background-image: url('/public/background.png');
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position: right bottom;
    height: 100vh;
    padding-bottom: $navbar-height;
    position: relative;
    width: 100%;
  }

  &-navbar {
    bottom: 0;
    left: 0;
    position: fixed;
  }
}
